<!DOCTYPE html>
  <html>
    <head>
  	  <title>Blog</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
    	<%= javascript_include_tag "application" %>
    	<%= csrf_meta_tags %>
  	</head>
  	<body>
      <div classs='header'>
  		  <%= render 'layouts/header'%>
      </div>
      <%=  yield%>
      <div 'share_location'>
        <%= render 'share/share_location' unless current_user%>
      </div>
    </body>
  </html>
