<!DOCTYPE html>
<html>
<head>
  
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" ,"arvblog"%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner ">
<ul class="nav nav-pills">
    <a class="brand" href="#">Title</a>
</ul>

    <form class="navbar-search right">
      <input type="text" class="search-query" placeholder="Search">
    </form>

   <ul class="nav pull-right">
    
     <div id="user_nav ">
<p id="demo"></p>
   <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %> 
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook"%>
      <% end %>
    </div>
  </div>
   </div>
  </div>
  <p id="demo"></p>
<%=  yield%>
<div id="slider">
  
 <!--  <a href="#link"><%= image_tag("arvind.JPG")%></a>
  <a href="#link"><%= image_tag ("arv.jpg")%></a>
  <a href="#link"><%= image_tag ("bootstrap-mdo-sfmoma-02.jpg")%></a>
  
   -->
</div>

</body>

</html>
